@import url('https://fonts.googleapis.com/css?family=Open+Sans');
html, body, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center, select, input, option,
dl, dt, dd, textarea,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 1em;
	font: inherit;
	vertical-align: baseline;
display:block;

}
/* HTML5 display-role reset for older browsers */
article, aside, div, details, span, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display:block;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}
body{
/*	font: normal 1.0em 'Open Sans'; */
        font-size: 16px;
        font-weight: normal;
        font-family:'Open Sans';
	color: #660000;
	line-height: 1.6em;
	background-color:#660000;
	width:100%;
	margin:0 auto;
}
.container {
  font-size: 1em;
        font-weight: normal;
        font-family:'Open Sans';
	color: #660000;
	line-height: 1.6em;
	width:100%;
	margin: 0 auto;
/*	font: normal 1.0em 'Open Sans'; */
}
.container-fluid {
  font-size: 1em;
        font-weight: normal;
        font-family:'Open Sans';
	color: #660000;
	line-height: 1.6em;

/*	font: normal 1.0em 'Open Sans'; */
}
.behindwrapper{	
	
	background-color: #DEC9A5;
	width:100%;
	margin:auto;
	
	height:100%;

}
.wrapper{
	background-color: #ffffff;
/*	font: normal 1.0em 'Open Sans'; */
	padding:1em;
	line-height: 1.6em;
	width:100%;
	margin: auto;
	border-radius: 4px;
	display: inline-block;
	border-color:#ffffff;
	}
.wrapper1 {
	background-color: #ffffff;
/*	font: normal 1.0em 'Open Sans'; */
	padding:1em;
	line-height: 1.6em;
	width:100%;
	margin:auto;
	border-radius:  4px 4px 0 0;
	display: inline-block;
	border-color:#ffffff;
	}
.wrapper2{
	background-color: #ffffff;
/*	font: normal 1.0em 'Open Sans'; */
	padding:1em;
	line-height: 1.6em;
	width:100%;
	margin:0 auto;

	display: inline-block;
	border-color:#ffffff;
	}
.wrapperfinish{
		background-color: #ffffff;
/*	font: normal 1.0em 'Open Sans'; */
	padding:1em;
	line-height: 1.6em;
	width:100%;
	margin:0 auto;
	text-align:center;
border-radius:0 0 4px 4px;
	display: inline-block;
	border-color:#ffffff;
	}
.wrapperfinish h3{
	text-align: center;
}
.row>.bothcols{
margin-bottom: -2em;

margin-left:0 auto;
margin-right:0 auto;

}

/*
body{
	background-image: -webkit-gradient(linear, right top, left top, from(#BCAA8B), to(#DEC9A3));
    	background-image: -webkit-linear-gradient(right,  #BCAA8B, #DEC9A3);
    	background-image: -moz-linear-gradient(right, #BCAA8B, #DEC9A3);
    	background-image: -ms-linear-gradient(right, #BCAA8B, #DEC9A3);
    	background-image: -o-linear-gradient(right, #BCAA8B, #DEC9A3);
	background-color: #DEC9A3;
	line-height: 1em; 
	font: normal 1em 'Open Sans'; 
	color: #660000;
	background-color: #dec9a3;
	padding-top: 20px;
	padding-left: 20px;
	color: #660000;

}*/
.footcontainer {
	background-color: #ffffff;
	background:#ffffff;
	border-radius:0 0 4px 4px;
	padding: 1.3em;
	border: 0px solid rgba(0, 0, 0, 0.15);
	box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.05);
	/*width: auto;*/
	margin:0 auto;
	width:100%;
	text-align: center;
	font-size: 1em; 
	line-height: 1.6;
	color: #660000; 
display:block;

}
#banner{
       width:100%;
       padding:1em;
       border-radius: 4px;
}
#banner img{
       width: 100%;
       margin:0 auto;
       padding:1em;
       border-radius: 4px;
}
#navigation {
padding: 1em;
border-top: 1px solid rgba(0,0,0,0.075);
border-bottom: 1px solid rgba(0,0,0,0.075);
margin-bottom: 10px;
width: 100%;
margin: auto;
}
#headline{
font-size: 2em;
padding:1em;
margin: auto;
width:100%;
display:block;
}
.intoday {
/*float:left;*/
text-align:justify;
width: 100%;
background:#ffffff;
margin: 0 auto;       
display:block;
padding:1em;
}
#leftcolumns1 {
/*float:left;*/
text-align:justify;
width: 100%;
background:#ffffff;
margin: 0 auto;       
display:block;
padding:1em;
}
	
.leftcolumns2 {
/*	float: left; */
	width: 100%;
	background-color:#ffffff;
	background:#ffffff;
	text-align: justify;
	display:inline-block;
	padding: 1em; 
	
 }

.leftcolumns2 img{
	padding: 1em; 
	border:.15em solid #660000;
	width:100%; 
/*	float: left; */
	display:inline-block;
	
}
.rightcolumns2 img{
	padding: 1em; 
	border:.15em solid #660000;
	width:100%; 
/*	float: right;*/
	display:inline-block;
	
}

#rightcolumns2 {           
	margin: auto;
	 padding: 0;
	text-align: justify;
	color: #660000;
	width: 100%;
	/* float:right;*/
	display:inline-block;
	line-height: 1.6em;
} 
.rightcolumns2 {           
	margin:auto;  
	padding: 0;
	display: inline-block; 
	text-align: justify;
	color: #660000;
	width: 100%;
	/*float:right;*/
line-height: 1.6em;
} 
#sect2rightcol2{
	text-align: left;
	color: #660000;
	width: 35%;
}  
#rightcolumn {     
	background:#ffffff;
	float: right;
	text-align: right;
	margin-top: 0px;  
	overflow: hidden;  
	padding: 0 20px 0 0;        
           }
#rightcolumns2 p {
	text-align: left;
	width:100%;
font-size:1em;
}           
#fulllower {
	
	background:#ffffff;
	color: #660000;
	text-align: justify;
line-height: 1.6;
text-align:justify;
width:100%;
margin:0 auto;
padding-left:1em;
padding-right:1em;
padding-top:0px;
padding-bottom:0px;
		/**/
}


ul {
	display: block;
	list-style-image: none;
	list-style-position: outside;
	list-style-type: disc;
	margin: 1em 0;
	padding: 0 0 0 30pt;
	text-align: left;
}
li {
	display: list-item;
	text-align: left;
}



ul {
	display: block;
	list-style-image: none;
	list-style-position: outside;
	list-style-type: disc;
	margin: 1em 0;
	padding: 0 0 0 30pt;
	text-align: left;
}
li {
	display: list-item;
	text-align: left;
}

