@import url('https://fonts.googleapis.com/css?family=Open+Sans');



#primary_nav_wrap
{
margin-top:5px;
}

#primary_nav_wrap ul
{
	list-style:none;
	position:relative;
	float:left;
	margin:0 ;
	
	padding:0;
	z-index: 999999;
	
}




#primary_nav_wrap ul a
{
	display:block;
	/*color:#333;*/
	text-decoration:none;
	/* font-weight:700;*/
	font-size:16px;
	line-height:2em; 
	padding:.5px  12px 0 12px;
	margin-left:0;
	margin-right: .5em;
	
	/*margin: 5px;
	font-family:"HelveticaNeue","Helvetica Neue",Helvetica,Arial,sans-serif;
	margin: 5px;*/
	 font-family:'Open Sans';
	
	 border-radius:2.88px;
	max-width: 134px;
	min-width: 134px;
	 text-align: center;
	color: #fff;
        background: #660000;
        text-decoration: none;
        /*box-shadow: .5px .5px 1px 1px #ccc inset;*/
         box-shadow: 0 0.2em #ecf0f1, 0 .12em .25em .12em rgba(236, 240, 241, .7) inset ;
         border-color:#440000;
        }
.btn-current{
background: #440000;
}	
	
#primary_nav_wrap ul li
{
	position:relative;
	float:left;
	margin:0 auto;
	padding:0;
}

#primary_nav_wrap ul li.current-menu-item
{
	background:#ddd
}

#primary_nav_wrap ul li:hover
{
	background:#f6f6f6
}

#primary_nav_wrap ul ul
{
	display:none;
	position:absolute;
	top:100%;
	left:0;
	background:#fff;
	padding:0
}

#primary_nav_wrap ul ul li
{
	float:none;
	width:200px;
}

#primary_nav_wrap ul ul a
{
	line-height:100%;
	padding:10px 15px;
	
	
	background:#ffffff;
	color:#660000;
	box-shadow: .4px .4px .4px .4px #ccc inset;
	 box-shadow: 0 0.2em #ecf0f1, 0 .12em .25em .12em rgba(236, 240, 241, .7) inset ;
}

#primary_nav_wrap ul ul ul
{
	top:0;
	left:100%
}

#primary_nav_wrap ul li:hover > ul
{
	display:block;
	background:#eeeeee;
	color:#660000;
}
#primary_nav_wrap ul li a:hover
{
	display:block;
	/*color:#333;*/
	text-decoration:none;
	/* font-weight:700;*/
	font-size:16px;
	line-height:32px; 

	font-family:"HelveticaNeue","Helvetica Neue",Helvetica,Arial,sans-serif;
	
        color: #fff;
        background: #880000;
        text-decoration: none;
         box-shadow: 0 0.2em #ecf0f1, 0 .12em .25em .12em rgba(236, 240, 241, .7) inset ;


}

#primary_nav_wrap ul li a:focus
{
	display:block;
	text-decoration:none;
	font-size:16px;
	line-height:32px; 
	padding:0 12px;
	font-family:"HelveticaNeue","Helvetica Neue",Helvetica,Arial,sans-serif;
	color: #fff;
        background: #880000;
        text-decoration: none;
       box-shadow: 0 0.2em #ecf0f1, 0 .12em .25em .12em rgba(236, 240, 241, .7) inset ;
   

}
#primary_nav_wrap ul a:active
{
	display:block;
	text-decoration:none;
	font-size:16px;
	line-height:32px; 
	padding:0 15px;
	font-family:"HelveticaNeue","Helvetica Neue",Helvetica,Arial,sans-serif;
	color: #fff;
        background: #880000;
        text-decoration: none;
        box-shadow: 0 0.2em #ecf0f1, 0 .12em .25em .12em rgba(236, 240, 241, .7) inset ;
   

}